<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <title>Stencil Component Starter</title>

  <script type="module" src="/build/components.esm.js"></script>
  <script nomodule src="/build/components.js"></script>
  <link rel="stylesheet" href="/build/components.css" />
</head>
<style>
  body {
    width: 100%;
    margin: 0;
    height: 100%;
  }
</style>

<body>
  <jsc-app></jsc-app>

  <script>
    customElements.whenDefined('jsc-app').then(() => {
      const app = document.querySelector('jsc-app');
      const config = {
        siteName: "Hello World",
        css: {
          background: "#F2F6F9",
          height: "100%"
        }
      }

      app.setGlobalConfig(config)

      app.setMarkup(JSON.stringify(
        [
          {
            component: 'Navbar',
            sections: {
              links: [
                { component: 'NavLink', props: { label: 'My Logs', href: 'https://google.com', color: '#fff' } },
                { component: 'NavLink', props: { label: 'Logout', href: 'https://google.com', color: '#fff' } },
              ],
            },
            props: { label: 'config(siteName)' },
            css: { background: '#000000' },
          },
          {

            component: 'Row',
            props: {
              items: "center",
              justify: "between",
            },
            css: {
              width: '100%',
              height: '100%',
              padding: '10px 300px',
              display: "flex",
            },
            sections: {
              children: [
                {
                  component: "Text",
                  props: {
                    variant: "h1",
                    value: "Logs"
                  },
                },
                {
                  component: "Button",
                  props: {
                    label: "Add a Log"
                  }
                }
              ]
            },
          },
          {
            component: "Card",
            props: {
              variant: "outline",
              shadow: "md",
              outlineColor: "red",
              radius: "lg"
            },
            css: {
              padding: "20px 20px",
              borderColor: "blue"
            },
            sections: {
              children: [
                {
                  component: "Text",
                  props: {
                    variant: "h2",
                    value: "Logs"
                  },
                },
                {
                  component: "Textbox",
                  props: {
                    label: "Date",
                  },
                  css: {
                  }
                }
              ]
            }
          },

          {
            component: "DatePicker",
            props: {
              label: "Date"
            }
          }
        ])
      );
    })
  </script>
</body>

</html>
